/* Layouts */
.calendar-wrapper{
    .rel();
    font-family: 'LatoWeb', sans-serif;
    max-width: 800px;
    margin: 0 auto;
    user-select: none;
}
.calendar{
    border-radius: 10px;
    overflow: hidden;
}
.slider{
    .rel();
    .curve();
    overflow: hidden;
}
.slide{
    .abs();
    .curve();
    width: 100%;
    &:nth-child(1){
        left: -100%;
        opacity: 0;
    }
    &:nth-child(2){
        left: 0%;
        z-index: 2;
    }
    &:nth-child(3){
        left: 100%;
        opacity: 0;
    }
}
.slide_table,
.weekdays-table{
    .center();
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    border-spacing: 0;
}

.slide_table_td{
    .rel();
    .cursor();
    border: 1px solid transparent;
    border-collapse: separate;
    &:hover,
    &.checked{
        z-index: 2;
    }
}

.calendar-wrapper--week .slide_table_td{
    display: block;
}

/* Change Slide */
.change-slide-wrapper{
    .center();
    margin-bottom: 20px;
}
.change-slide{
    .rel();
    .dinl-top();
    color: @darkHalf;
    width: 150px;
}
.change-slide_btn{
    .y-center();
    .cursor();
    svg{
        width: 12px;
        height: 20px;
        *{
            fill: @gray !important;
        }
    }
    &--prev{
        left: -34px;
    }
    &--next{
        right: -34px;
    }
}

/* Schedule Modifier */
.calendar--schedule{
    .shadow();
}
.day--schedule{
    height: 102px;
    padding: 8px;
    text-align: left;
    background: @whiteLight;
    box-shadow: 0px 0px 0px 1px @grayHalf;
}

.weekdays-table--schedule .weekdays-table_td{
    background: @cyan;
    border: 1px double #fff;
    border-top: none;
    padding: 6px 0;
    color: #fff;
    &:first-child{
        border-left: none;
    }
    &:last-child{
        border-right: none;
    }
}

.slide_table_tr:last-child .slide_table_td{
    &:first-child .day .day--schedule{
        border-bottom-left-radius: 10px;
    }
    &:last-child .day .day--schedule{
        border-bottom-right-radius: 10px;
    }
}

.slide_table_td{
    &:hover .day--schedule,
    &.checked .day--schedule{
        box-shadow: 0px 0px 0px 1px @cyan;
    }
    &.checked .day--schedule{
        background: @cyanTransparentLow;
    }
}

.day--another-month .day--schedule{
    background: @grayLight;
    .day_num,
    .day_schedule_time{
        color: @gray;
    }
}

.calendar-wrapper--schedule{
    .change-slide_month{
        .size29();
        margin-bottom: 10px;
    }
    .change-slide_year{
        .size20();
        color: @gray;
    }
}

/* Day schedule components */
.day_time:nth-child(n + 3){
    display: none;
}
.day_time{
    .size11();
    margin-bottom: 7px;
    white-space: nowrap;
    color: @darkHalf;
}
.day--schedule .day_num{
    .rel();
    .dinl-top();
    .size24;
    .mb10();
    .bold();
    color: @darkHalf;
}

.day_special-circle{
    .abs();
    top: -2px;
    right: -14px;
    display: none;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: @cyan;
}

.day_inside.special .day_special-circle{
    display: block;
}
.day_inside.special .day_num{
    color: @cyan;
}
.day_edit-icon{
    .abs();
    .curve();
    top: 8px;
    right: 8px;
    overflow: hidden;
    transform: scale(0);
    svg{
        width: 9px;
        height: 15px;
        * {
            fill: @gray !important;
        }
    }
}
.day:hover .day_edit-icon{
    transform: scale(1);
}
.day_link-angle-down{
    .dinl-top();
    padding-left: 5px;
    padding-top: 2px;
    svg{
        width: 6px;
        height: 4px;
        *{
            fill: @cyan !important;
        }
    }
}

/* Simple Modifier */
.day--simple{
    .rel();
    .size13();
    .center();
    width: 33px;
    height: 33px;
    color: @darkHalf;
    border-radius: 100%;
    &:hover{
        background: @cyanTransparentHalf;
        color: #fff !important;
    }
}

.slide_table_td.checked .day--simple{
    background: @cyan;
    color: #fff;
}
.day.default .day--simple{
    background: @gray;
    color: @grayLight;
}
.day--another-month .day--simple{
    color: @gray;
}
.day--simple .day_num{
    .size15();
    .a-center();
}

.weekdays-table--simple{
    .rel();
    margin-bottom: 10px;
    &:after{
        content: '';
        .abs();
        top: 100%;
        left: 8px;
        right: 8px;
        height: 1px;
        background: @gray;
    }
}
.weekdays-table--simple .weekdays-table_td{
    .size14();
    padding: 10px 0;
    color: @gray;
    font-weight: 600;
}

.calendar-wrapper--simple{
    .change-slide_month{
        .size20();
        color: @darkHalf;
        margin-bottom: 6px;
    }
    .change-slide_year{
        .size15();
        color: @darkHalf;
    }
    .change-slide_btn svg *{
        fill: @cyan !important;
    }
}