@dark: #293143;
@gray: #c2c9dd;
@grayer: #808288;
@cyan: #00cec9;

.dark{color: @dark;}
.gray{color: @gray;}
.grayer{color: @grayer;}
.cyan{color: @cyan;}

.dark_bg{background-color: @dark;}
.gray_bg{background-color: @gray;}
.grayer_bg{background-color: @grayer;}
.cyan_bg{background-color: @cyan;}

.curve() {
    transition: 0.3s all cubic-bezier(0.79, 0.34, 0.28, 1.15);
}

.scrollstyleY() {
    overflow-y: auto;
    &::-webkit-scrollbar{
        width: 2px;
        background: #e9ebed;
    }
    &::-webkit-scrollbar-thumb{
        background: #adbfcc;
        max-height: 2px;
        border-radius: 2px;
    }
}

.calendar-side{
    .scrollstyleY();
    position: fixed;
    top: 0;
    width: 300px !important;
    height: 100vh;
    padding: 0 22px;
    background: #fff;
    z-index: 3;
    transition: 0.3s all ease;
    background: #fcfcfe;
}
.calendar-side--right{
    right: -300px;
    border-left: 2px solid @gray;
    padding: 0 22px 22px 22px;
    &.active{
        right: 0;
    }
}
.calendar-side--left{
    left: -300px;
    border-right: 2px solid @gray;
    padding: 22px;
    &.active{
        left: 0;
    }
}
.show-in-mobile{
    .from(768px, {
        display: none !important;
    });
}
