@whiteLight: #fcfcfe;
@grayLight: #f5f5f7;
@grayHalf: #e3e3e3;
@gray: #c2c9dd;
@silver: #f3f3f6;
@dark: #585b61;
@cyan: rgba(0, 206, 201, 1);
@cyanTransparentHalf: rgba(0, 206, 201, 0.7);
@cyanTransparentLow: rgba(0, 206, 201, 0.07);
@red: #ff6d9e;

.whiteLight{color: @whiteLight;}
.grayLight{color: @grayLight;}
.grayHalf{color: @grayHalf;}
.gray{color: @gray;}
.dark{color: @dark;}
.silver{color: @silver;}
.cyan{color: @cyan;}
.red{color: @red;}
.cyanTransparentHalf{color: @cyanTransparentHalf;}

.whiteLight_bg{background-color: @whiteLight;}
.grayLight_bg{background-color: @grayLight;}
.grayHalf_bg{background-color: @grayHalf;}
.gray_bg{background-color: @gray;}
.dark_bg{background-color: @dark;}
.silver_bg{background-color: @silver;}
.cyan_bg{background-color: @cyan;}
.red_bg{background-color: @red;}
.cyanTransparentHalf_bg{background-color: @cyanTransparentHalf;}

.curve {
    transition: 300ms all ease-in-out;
}
.shadow {
    box-shadow: 0px 2px 6px 0px rgba(62, 69, 94, 0.25);
}
.shadow-hover{
    .shadow();
    &:hover{
        box-shadow: 0px 2px 12px 0px rgba(62, 69, 94, 0.25);
    }
}