.CC{
    padding: 20px 20px;
    background: @silver;
}
.overlay{
    .curve();
    .full-fixed();
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    &.active{
        visibility: visible;
        opacity: 1;
    }
}