@dark: #293143;
@gray: #c2c9dd;
@cyan: #00cec9;

.curve() {
    transition: 0.3s all cubic-bezier(0.79, 0.34, 0.28, 1.15);
}

.interval() {

    max-width: 250px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0px 0px 6px 0px rgba(62, 69, 94, 0.12);
    cursor: pointer;
    border: 2px solid transparent;
    &:hover{
        border: 2px solid @gray;
        background: #f3f3f6;
    }
    &.checked{
        box-shadow: 0px 0px 6px 0px rgba(62, 69, 94, 0.5);
        border: 2px solid @cyan;
    }
    &:first-child{
        border-radius: 6px 6px 0 0;
    }
    &:last-child{
        border-radius: 0 0 6px 6px;
    }
}
.scrollstyleY() {
    overflow-y: auto;
    &::-webkit-scrollbar{
        width: 4px;
        background: @gray;
    }
    &::-webkit-scrollbar-thumb{
        background: @dark;
        max-height: 4px;
        border-radius: 4px;
    }
}

.dcal{
    .rel();
    .f0();
    font-family: 'LatoWeb', sans-serif;
    .CL{
        .CL_content{
            .rel();
            .f1();
            background: #fff;
            border-radius: 0 0 4px 4px;
            box-shadow: 0px 2px 20px 0px rgba(62, 69, 94, 0.1);
            z-index: 2;
        }
    }

    .YM{
        .f0();
        .rel();
        .semi-bold();
        height: 68px;
        .YM_text{
            .y-center();
            &-left{
                right: 50%;
                margin-right: 12px;
                color: @dark;
                .size29();
            }
            &-right{
                left: 50%;
                margin-left: 12px;
                margin-top: 3px;
                color: @gray;
                .size20();
            }
        }
        .arrow{
            .y-center();
            .f1();
            cursor: pointer;
            svg{
                width: 9px;
                height: 20px;
            }
            &-left{
                left: 22px;
            }
            &-right{
                right: 22px;
            }
        }
    }

    .hr-top{
        margin: 0 22px;
        border-top: 1px solid #fbfbfc;
        border-bottom: 1px solid #f5f4f8;
    }
    .hr-bottom{
        margin: 0 22px;
        border-bottom: 1px solid #fbfbfc;
        border-top: 1px solid #f5f4f8;
    }

    .days{
        .f0();
        padding: 0 10px;
        &.weekdays{
            padding: 2px 10px;
        }
        &.CL_days{
            padding: 8px 10px 18px 10px;
        }
    }

    .day_grid{
        .dinl-top();
        .center();
        color: @dark;
        width: 11.25%;
        min-height: 1px;
        margin: 1px 1.770833%;
        &.day_grid-ml0{
            margin-left: 0;
        }
        &.day_grid-mr0{
            margin-right: 0;
        }
    }

    .day{
        .rel();
        cursor: pointer;
        padding-top: calc(100% - 4px);
        border-radius: 100%;
        border: 2px solid transparent;
        .day_name{
            .a-center();
            margin-top: 1px;
        }
        .day_name-rel{
            .rel();
            .center();
            width: 24px;
            height: 18px;
            font-size: 18px;
            margin-top: 2px;
        }
        &.off{
            color: @gray;
        }
    }

    .LS{

        &_intervals{
            .scrollstyleY();
            margin-top: -10px;
            padding: 10px 30px 0 14px;
            height: 455px;
            direction: rtl;
            color: @dark;
        }
        &_interval{
            .dflex();
            .center();
            .interval();
            .bold();
            min-height: 57px;
            justify-content: space-around;
            align-items: center;
            padding: 20px 0;
            margin-bottom: 7px;
            direction: ltr;
            .LS_day{
                width: 30px;
                .size17();
                &-day{
                    .size11();
                }
            }
            .LS_timebox{
                width: 146px;
                max-height: 64px;
                .scrollstyleY();
                .size13();
                .LS_time{
                    margin-bottom: 10px;
                    &:last-child{margin-bottom: 0;}
                }
            }
        }
    }

    &.standard{
        .day{
            &:hover{
                border: 2px solid #dbdbdd;
                background: #f0f0f0;
                color: #808288;
            }
            &.current{
                color: @cyan;
                text-shadow: 0px 3px 5px rgba(62, 69, 94, 0.25);
            }
            &.checked{
                border: 2px solid #00b8b5;
                color: #f4fcfc;
                background: @cyan;
            }
            &.special{
                .day_info{
                    .abs();
                    right: -6px;
                    top: -6px;
                    width: 6px;
                    height: 6px;
                    border-radius: 100%;
                    background: @cyan;
                }
            }

        }
    }

    .tabs{.dn();}
    &.standard,
    &.orders,
    &.delete{
        .CL{
        .tabs{
            .db();
            .f0();
        }
        .tab_grid{
            .dinl-top();
            .f1();
            width: 50%;
        }
        .tab{
            &-left{margin-right: 12px;}
            &-right{margin-left: 12px;}
            .rel();
            .size23();
            .semi-bold();
            height: 69px;
            color: #9198ae;
            background: #f3f3f6;
            overflow: hidden;
            border-radius: 5px 5px 0 0;
            cursor: pointer;
            z-index: 1;
            transition: 0.1s all linear;
            box-shadow: 0px 0px 6px 0px rgba(62, 69, 94, 0.1);
            span{
                .a-center();
                .center();
                width: 100%;
            }
            &:before{
                .abs();
                content: '';
                top: 0;
                left: 0;
                height: 5px;
                width: 100%;
                background: transparent;
                transition: 0.1s all linear;
            }
            &:hover{
                color: @cyan;
                background: #fff;
                box-shadow: 0px 0px 6px 0px rgba(62, 69, 94, 0.5);
            }
            &.active{
                color: @cyan;
                background: #fff;
                z-index: 3;
                box-shadow: none;
                &:before{
                    .abs();
                    content: '';
                    background: @cyan;
                }

            }
        }
    }

    }

    &.standard,
    &.delete,
    &.client{
        .TS{
            .dinl-top();
            .f1();
            .center();
            width: 100%;
            max-width: 310px;
            &_head{
                .rel();
                height: 69px;
            }
            &_title{
                .a-center;
                .size20();
                .bold();
                width: 100%;
                color: @dark;
                margin-bottom: 8px;
            }
            &_descr{
                .x-center();
                .size11();
                .semi-bold();
                width: 100%;
                bottom: 8px;
                color: @gray;
            }
            &_intervals{
                .scrollstyleY();
                margin-top: -10px;
                padding: 10px 14px 0 30px;
                height: 455px;
            }
            &_interval{
                .rel();
                .interval();
                height: 55px;
                width: 100%;
                max-width: 250px;
                margin: 0 auto  9px auto;
                z-index: 2;
                &:hover{
                    z-index: 1;
                }
                &_data{
                    .a-center();
                    .size14();
                    width: 100%;
                    color: @dark;
                }
            }
        }
    }
}
.TS_save{
    .interval();
    max-width: 250px;
    padding: 20px 0;
    margin: 20px auto 0 auto;
    border: 2px solid lime;
    color: @cyan;
}

.dcal{
    max-width: 1120px;
    margin: 0 auto;
    .LS,
    .TS{
        .dinl-top();
        width: 27.678571%;
        max-width: 310px;
        min-width: 240px;
        &_head{
            .rel();
            height: 69px;
        }
    }
    .CL{
        .dinl-top();
        .f0();
        width: 44.642857%;
        max-width: 500px;
        user-select: none;
    }
    .LS{
        &_title{
            .center();
            .size16();
            color: @gray;
        }
        &_tabs{
            .y-center();
            .f0();
            width: 100%;
            .tab{
                .dinl-top();
                .center();
                width: 50%;
                .name{
                    .rel();
                    .size20();
                    .bold();
                    color: @gray;
                    cursor: pointer;
                }
                .name:hover,
                &.active .name{
                    color: @cyan;
                }
                .name:before{
                    content: '';
                    .x-center();
                    .curve();
                    width: 0%;
                    height: 2px;
                    bottom: -8px;
                    background: @cyan;
                }
                &.active .name:before{
                    width: 100%;
                }
            }
        }
    }
    .intervals{
        .scrollstyleY();
        height: 455px;
        padding: 4px 0 0 0;
        margin-top: -4px;
        color: @dark;
    }
    .LS .intervals{direction: rtl;}
}
